*{
    width: 1920;
    padding: 0;
    margin: 0;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
} 
/******************** Header ***************/
.flex, .header, .footer, .footer-mid{
    display: flex;
    flex-direction: row;
    /* border: .25px solid rgb(146, 146, 146); */
}

.flex-col, .header-left-text, .footer-left, .main-container-background, .flex-container1-item{
    display: flex;
    flex-direction: column;
}

.header{
    max-width: 100%;
    max-height: 1%;
    background-color: #21232f;
    align-items: center;
    justify-content: space-between;
    padding: .5% .25%;
     
}
.header-left-text{
    align-items: flex-start;
    margin-left: 15%;
}
.header-left, .header-right{
    justify-content: space-evenly;
    flex-grow: 1;
}
.header-main{
    flex-grow: 7;
    text-align: center;
}
.fab, .far, .fas, .header-left-text h6, .header-left-text h4, .header-main h3{
    color: #e9e9e6;
}

/******************** Main Section ***************/
/* img{
    object-fit: cover;
} */

/************** Main Section ************/
/* main{
    position: relative;
} */
.main-container-background{
    align-items: center;
    max-width: 100%;
    max-height: 90%;
    position: relative;
}
.back-top{
    color: rgb(9, 5, 48);
    max-height: 40%;
}
.back-mid{
    
    color: white;
    max-height: 60%;
}

.back-foot{
    max-height: 20%;
    background-image: url(img/website-background-tile-lovely-subtle-light-tile-pattern-vol5-graphic-web-backgrounds-fbv-spm.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
/****************** Main container ***************/
.main-section-container{
    max-width: 80%;
    background-color: white;
}
/********************* Slider ***********/


/********************* Bottom Card ***********/
.bottom-card{
    width: 80%;
    /* position: absolute;
    right: 10%;
    top: 12%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px 15px grey;
}
/****************** Container-1 ***********/
.fa-dolly, .fa-hourglass-half, .fa-exchange-alt, .fa-id-card{
    color: #0d34e6;
    font-size: 20px;
    margin-bottom: 80%;
}
.flex-container1{
    align-items: center;
    /* flex: .15; */
}
.flex-container1-item{
    align-items: center;
    padding: 3%;
}
.container1-item-content h3, .container1-item-content p{
    font-size: smaller;
}
/***************** Container-2 **************/
.flex-container2{
    width: 100%;
    align-items: center;
}
.container2-box1{
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    
}
.container2-box2 img{
    object-fit: contain;
}

/***************** Container-3 **************/
.flex-container3-box1, .flex-container3-box2, .flex-container3-box3, .flex-container3-box4{
    width: 25%;
}


.flex-container3-box2, .flex-container3-box3, .flex-container3-box4, .flex-container4-box1, .flex-container4-box2{
    position: relative;
}
.flex-container3-box2 img{
    object-fit: contain;
    
}
.container3-box2-price, .container3-box3-price, .container3-box4-price, .container4-box1-price, .container4-box2-price{
    position: absolute;
    top: 80%;
    right: 43%;
}
.flex-container3-box4 p{
    position: absolute;
    top: 10%;

}

/***************** Container-4 **************/
/***************** Container-5 **************/
/***************** Container-6 **************/
/***************** Container-7 **************/
/***************** Container-8 **************/
/***************** Container-9 **************/
/***************** Container-10 **************/
/***************** Container-11 **************/

/******************** Footer ***************/
.footer-top{
    text-align: center;
    padding: 5% 20%;
    background-image: url("https://image.freepik.com/free-vector/clean-white-stripe-background_105940-870.jpg");

}
input[type="email"]
{
    padding: 1% 5%;
    width: 60%;
    border-radius: 3%;
    margin-top: 20px;
    border: none;
}
.input-box{
    position: relative;
}
.input-box i{
    position: absolute;
    top: 53%;
    right: 18%;
    color: blue;
}
.footer{
    /* position: relative; */
    max-width: 100%;
    max-height: 9%;
    justify-content: space-between;
    align-items: baseline;
    background-color: #232323;
    padding: 4%;
}
.footer-left{
    flex-grow: 1;
}
.footer-mid{
    flex-grow: 2;
}
.footer-mid-right{
    flex-grow: 1;
}
.footer-left-content4 p, .footer-mid-bottom p, .footer-right-bottom-content p{
    font-size: smaller;
}

.footer-left-content1 h4, .footer-mid-top h5{
    color: #fcfcfc;
}
.footer-mid-bottom p, .footer-left-content2 p, .footer-left-content3 h5, .footer-left-content4 p, .footer-right-bottom-content p{
    color: #848484;
}
.footer-left-content2 p{
    font-size: 10px;
}
